<div class="container landing-content-area">
<div class="input-group search-margin">
    <input type="text" id="menu_search" class="form-control" placeholder="Search here ..">
      <span class="input-group-btn">
        <button class="btn btn-default filter-btn" type="button">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </span>
    </div>
	<h1 class="landing-heding">Dashboard </h1>
</div>

